{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" type="text/css" href="{% static 'project_content/main.css'%}">
   <!--  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>-->

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!-- For formatting dates -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.21/sorting/datetime-moment.js"></script>  

    <title> 
        {% block title %}
            Carpool App
        {% endblock title %}
    </title>

    {% block style %}

    {% endblock style %}

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary shadow-sm">
        <div class="container-fluid">
          <img class="navbar-brand" src="{% static 'project_content/carpool_logo.png' %}" alt="Ateneo Carpool">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% block nav_pills %}
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'map' %}active{% endif %}" href="{% url 'map' %}">Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'destination_requests' %}active{% endif %}" href="{% url 'destination_requests' %}">Ride Requests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'my_route_view' %}active{% endif %}" href="{% url 'my_route_view' %}">Route</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'profile' %}active{% endif %}" href="{% url 'profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'create-room' or request.resolver_match.url_name == 'room' %}active{% endif %}" href="{% url 'create-room' %}">Messages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'distance' %}active{% endif %}" href="{% url 'distance' %}">Distance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'user-logout' %}active{% endif %}" href="{% url 'user-logout' %}">Logout</a>
                </li>
            </ul>
            {% endblock nav_pills %}
            
          </div>
        </div>
      </nav>

{% block content %}

{% endblock content %}

 
</body>
</html>