{% extends 'project_content/base.html' %}

{% block content %}

<div class="pageholder" style="width: 100%;">
    <div class="titleholder container"> 
        
        <div class="title"> Geocoding template for {{location.name}} ({{label}})</div> 
        
    </div>


    <div class="linkholder" style="margin-left: auto; margin-right: auto;">
            <table id="ourtable3" class="myTable m-3">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Zipcode</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Lat</th>
                        <th>Lng</th>
                        <th>Place id</th>
                       
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td> {{location.id}} </td>
                        <td> {{location.name}} </td>
                        <td> {{location.address}} </td>
                        <td> {{location.zipcode}} </td>
                        <td> {{location.city}} </td>
                        <td> {{location.country}} </td>

                        <td> {{lat}} </td>
                        <td> {{lng}} </td>
                        <td> {{place_id}} </td>
                       
                    </tr>

                </tbody>

                
            </table>
     </div>

    

</div>

{% endblock %}