{% extends 'project_content/base.html' %}
{% block content %}
<style>
    /* CSS Styling */
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .pageholder {
        margin: 20px auto;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 1000px;
        animation: fadeIn 0.5s ease-in-out;
        position: relative;
        z-index: 1;
    }

    .titleholder {
        text-align: center;
        margin-bottom: 20px;
    }

    /* .title {
        font-size: 32px;
        font-weight: bold;
        color: #333;
        text-transform: uppercase;
        letter-spacing: 2px;
    } */

    .myTable {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #ddd;
        position: relative;
        z-index: 1;
    }

    /*.myTable th {
        background-color: #f2f2f2;
        color: #333;
    }*/

    /*.myTable tbody tr {
        transition: all 0.6s ease-in-out;
    }*/

    /*.myTable tbody tr:hover {
        
        /*transform: scale(1.05);
    }*/

    .myTable tbody tr:hover .geocode-link {
        color: white;
        background-color: var(--geocode-color);
    }

    .geocode-link {
        color: var(--geocode-color);
        text-decoration: none;
        border: 1px solid var(--geocode-color);
        padding: 15px 30px;
        border-radius: 5px;
        background-color: #fff;
        cursor: pointer;
        transition: all 0.6s ease-in-out;
        outline: none;
        display: inline-block;
    }

    .geocode-link:focus {
        box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
    }

    .geocode-link:active {
        transform: translateY(1px);
    }

    /* Effects */
    .pageholder:hover {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }

    button {
        padding: 10px;
        color: white;
        border: none;
        border-radius: 5px;
        width: 100%;
    }

</style>

<div class="formholder container">
    <div> Welcome, <b>{{ user }}</b>! <br> </div>
    {% if user.userlocation %}
    <div> Your current location is: <b>{{ user.userlocation.user_location }}</b></div>
    {% else %}
    <div>You have not set a current location yet.</div>
    {% endif %}
    
    <br>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="ourbutton" type="submit">Save</button>
    </form> 
</div>

<div class="pageholder container">
    <div class="titleholder">
        <div class="title"> Registered Locations </div>
    </div>

    <div class="linkholder">
        {% if locations.count == 0 %}
        <div> No data available </div>
        {% else %}
        <table id="ourtable3" class="myTable m-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Zipcode</th>
                    <th>City</th>
                    <th>Country</th>
                    <th>Geocode link</th>
                </tr>
            </thead>

            <tbody>
                {% for a in locations %}
                <tr>
                    <td style="vertical-align: middle; padding-right: 30px;"> {{a.id}} </td>
                    <td style="vertical-align: middle;"> {{a.name}} </td>
                    <td style="vertical-align: middle;"> {{a.address}} </td>
                    <td style="vertical-align: middle;"> {{a.zipcode}} </td>
                    <td style="vertical-align: middle;"> {{a.city}} </td>
                    <td style="vertical-align: middle;"> {{a.country}} </td>
                    <td style="vertical-align: middle; padding-left: 30px;"> <a class="geocode-link" href="{% url 'geocoding' a.id %}"> Geocode!</a> </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>

{% endblock %}
