{% extends 'project_content/base.html' %}
{% load crispy_forms_tags %}

{% block style %}
<style>
    /* Set the size of the map container */
    #map {
        height: 400px;
        width: 100%;
    }
</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
{% endblock style %}


{% block content %}
<div class="container">
    <h1>Route from {{ origin.name }} to {{ destination.name }}</h1>
    <!-- <p> Distance: {{ distance_km }} km </p>
    <p> Duration: {{ duration_mins }} minutes </p> -->

    <b> Passenger Stops </b>
    <ul>
        {% for passenger in passenger_locations %}
        <li> {{ passenger }} </li>
        {% endfor %}
    </ul>

    <br>

    <b> Route </b>
    <p> Total Duration: {{ total_duration }} min
    <br> Total Distance: {{ total_distance }} km </p>
    <ul>
        {% for p in route_properties %}
        <li> {{ p }} </li>
        {% endfor %}
    </ul>

    <!-- Map container -->
    <div id="map"></div>
</div>

<!-- Include the Google Maps JavaScript API -->
<script src="https://maps.googleapis.com/maps/api/js?key={{google_api_key}}&callback=initMap" async defer></script>
<script>
    // Initialize the map
    function initMap() {
        // Create map centered on a midpoint between origin and destination
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 7,
            center: {lat: ({{ origin.lat }} + {{ destination.lat }}) / 2, lng: ({{ origin.lng }} + {{ destination.lng }}) / 2}
        });

        // Define route
        var directionsService = new google.maps.DirectionsService();
        var directionsDisplay = new google.maps.DirectionsRenderer();

        // Set directions display to the map
        directionsDisplay.setMap(map);

        var unprocessed_string = '{{ waypoints }}';
        var passenger = jQuery.parseJSON(unprocessed_string.replace(/&quot;/g,'"'))


        // Define route request
        var request = {
            origin: {
                placeId: "{{ origin_placeid }}"
            },
            destination: {
                placeId: "{{ destination_placeid }}"
            },
            travelMode: 'DRIVING',
            waypoints: passenger,
            optimizeWaypoints: false,
        };

        // Get directions and display on the map
        directionsService.route(request, function(response, status) {
            if (status == 'OK') {
                directionsDisplay.setDirections(response);
            }
        });
    }
</script>

{% endblock %}